<ng-template #spinner>
  <h1>Wczytywanie</h1>
</ng-template>

<div class="grid grid-cols-4 w-100">
  <div class="col-span-1 border-2 w-100 justify-center">
    <app-filtering-menu></app-filtering-menu>
  </div>
  <div class="col-span-3 border-2">
    <ul class="w-100" *ngIf="products$ | async; else spinner">
      <app-category-tie
        *ngFor="let product of products$ | async; let i = index"
        [product]="product"
        (addToCartEmitter)="onAddToCart($event)"
        [last]="checkIfLast(i, products$ | async)"
      ></app-category-tie>
    </ul>
  </div>
</div>
