<div
  class="grid grid-cols-2 w-full justify-center text-center px-10 gap-9 py-4"
>
  <div class="col-span-2 w-3/5">
    {{ (content$ | async)?.content }}
  </div>
  <div class="col-span-1">
    <h2
      class="bg-yellow-300 p-3 font-bold text-blue-800"
    >
      {{ (content$ | async)?.leftColumnLabel }}
    </h2>
    <app-paragraph
      [content]="
        (content$ | async)?.leftColumn | ListPipe
      "
    ></app-paragraph>
  </div>
  <div
    class="col-span-1"
    *ngIf="(content$ | async)?.rightColumn"
  >
    <h2
      class="bg-yellow-300 p-3 font-bold text-blue-800"
    >
      {{ (content$ | async)?.rightColumnLabel }}
    </h2>
    <app-paragraph
      [content]="
        (content$ | async)?.rightColumn | ListPipe
      "
    ></app-paragraph>
  </div>
</div>
