<form
  [formGroup]="registerForm"
  (ngSubmit)="submit()"
  class="flex flex-col p-3 gap-2 text-sm"
>
  <label *ngFor="let labelField of labelFields" class="flex justify-between">
    <span>{{ labelField.text }}: <span class="text-red-600">*</span></span>
    <input
      [type]="labelField.inputType"
      class="border-2"
      [formControlName]="labelField.controlName"
    />
  </label>
  <button
    type="submit"
    class="p-1"
    [ngClass]="
      registerForm.valid
        ? 'cursor-pointer bg-yellow-300 hover:bg-yellow-200'
        : 'cursor-not-allowed bg-gray-300'
    "
    [disabled]="!registerForm.valid"
  >
    Zarejestruj
  </button>
</form>

<section class="flex flex-col text-sm p-3">
  <h2 class="font-bold py-2">Hasło musi zawierać:</h2>
  <p
    *ngFor="let condition of passwordConditions; let i = index"
    [ngStyle]="{
      color: checkError(condition.validator) ? 'red' : 'black'
    }"
  >
    {{ condition.text }}
  </p>
</section>
