<section class="grid grid-cols-10 w-screen bg-gray-300">
  <div
    class="flex items-center justify-start col-span-1 text-8xl text-blue-800 hover:text-blue-500 cursor-pointer"
  >
    &ShortLeftArrow;
  </div>

  <div class="flex gap-4 col-span-8 items-center justify-center p-5">
    <div class="">
      <h2 class="font-bold text-2xl">{{ title }}</h2>
      <div>
        <p class="py-3">{{ description }}</p>
        <img
          class="rounded-3xl shadow-2xl opacity-95"
          width="70%"
          src="assets/laptop-g0d0db25ef_1920.jpg"
          alt="special-offer-image"
        />
      </div>
    </div>
    <div class="flex justify-center">
      <img
        class="rounded-3xl shadow-2xl opacity-95"
        src="assets/sale-g7551b3fe4_1920.jpg"
        alt="sale-image"
        width="60%"
      />
    </div>
  </div>

  <div
    class="flex items-center justify-end col-span-1 text-8xl text-blue-800 hover:text-blue-500 cursor-pointer"
  >
    &ShortRightArrow;
  </div>
</section>
